/.idea/*

/__pycache__/*
/.ipynb_checkpoints/*
/utility/__pycache__/*
/utility/.ipynb_checkpoints/*


/activate_env.bat
/activate_venv.bat

/data/extracted_page_nums/*
/data/extracted_text_files/*
/data/gpt_meta/*
/data/input_meta/*
/data/output_meta/*
/data/raw_pdf_files/*
/data/testing_meta/*

/old/*




/data/first_build/*
/olds/*
/first_build/*